
.header_bg_dots {
    background-image: url("../img/dot_bg.gif");
    background-position: left top;
    background-repeat: repeat;
    width: 832px;
    height: 24px
}

.header_right_tail {
    float: left;
    margin-left: -120px;
    margin-top: 6px;
    width: 120px;
    height: 76px;
    background-color: #2176a1
}

.header_black_line {
    background-color: #000000;
    height: 1px;
    width: 503px
}

.header_blue_line {
    background-color: #145b89;
    height: 5px;
    width: 503px
}

.header_bg {
    background-image: url("../img/main__06.gif");
    height: 76px;
    width: 383px;
}

.header_logo {
    background-image: url("../img/logo.gif");
    width: 197px;
    height: 83px;
    float: left;
}

.header_globus {
    background-image: url("../img/globus.gif");
    width: 135px;
    height: 83px;
    float: left;
}

.header_motto {
    background-image: url("../img/motto.gif");
    width: 248px;
    height: 37px;
    float: top;
}
