
.nav_bar {
    background-color: #EEEEEE;
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 3px;
}

.nav_btn {
    font-family: "Noto Sans", serif;
    padding-left: 5px;
    padding-right: 5px;
}

.nav_btn:link {
    color: #375F93;
    text-decoration: none;
}

.nav_btn:hover {
    text-decoration: underline;
}

.nav_btn:visited {
    color: rebeccapurple;
}


/*.data_block_row:after {
    content: "";
    display: table;
    clear: both;
}

.data_block_col {
    float: left;
    width: 50%;
}*/

.data_block_row {
    display: flex;
}

.data_block_col {
    flex: 50%;
}


#more_link {
    color: gray;
    font-size: 10pt;
}


td, #data2_table {
    text-align: center;
}

.data_block_header {
    color: #FFFFFF;
    background-color: #76A9C4;
}

.data_block_footer {
    background-color: #EEEEEE;
    font-size: 10pt;
    vertical-align: top;
}


.data_block_news_item_text {
    color: #1C609F;
}

.data_block_news_item_date {
    color: #FFFFFF;
    font-size: 9pt;
    font-weight: bold;
}

.data_block_news_item_more {
    color: #666666;
    font-size: 8pt;
}

.data_block_news_item_divider {
    background-color: #D2D2D2;
    width: 100%;
    height: 1px;
}
