
.nav_end {
    margin-top: 80px;
    height: 21px;
}

.nav_end_start {
    float: left;
    background-image: url("../img/alt_menu_end.gif");
    width: 202px;
    height: 21px;
}

.nav_end_links {
    height: 21px;
    width: 832px;
    font-size: 9pt;
    color: #FFFFFF;
    font-weight: lighter;
    background-color: #75A8C3;
    text-align: center;
    padding-top: 4px;
}

.nav_end_bottom {
    height: 101px;
    width: 832px;
}

.nav_end_bottom_contacts {
    height: 101px;
    width: 424px;
    background-color: #036797;
    color: #FFFFFF;
    font-size: 8pt;
    font-weight: lighter;
    padding: 20px 10px 10px;
}

.nav_end_bottom_image {
    background-image: url("../img/bottom_bg.gif");
    height: 101px;
    width: 408px;
}