
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 832px;
    background-color: greenyellow;
    font-family: "Noto Sans", serif;
}

.fontless {
    font-size: 0;
}

.content {
    color: gray;
}

.content_divider {
    width: 100%;
    background-color: #D5D5D5;
    height: 10px
}

p {
    font-weight: bold;
}
